# App Configs
APP_PORT=8080
APP_SSL_PORT=8443

# OPCache for Production Environment
PHP_OPCACHE_ENABLE=1

# Nginx Configurations
NGINX_WEBROOT=/var/www/html/public
NGINX_ACCESS_LOG=/dev/stdout
NGINX_ERROR_LOG=/dev/stderr
NGINX_CLIENT_MAX_BODY_SIZE=100M
NGINX_FASTCGI_BUFFERS=32 32k
NGINX_FASTCGI_BUFFER_SIZE=64k
NGINX_SERVER_TOKENS=off
NGINX_LISTEN_IP_PROTOCOL=all
SSL_MODE=full
SSL_CERTIFICATE_FILE=/etc/ssl/private/self-signed-web.crt
SSL_PRIVATE_KEY_FILE=/etc/ssl/private/self-signed-web.key
HEALTHCHECK_PATH=/healthcheck

# PHP-FPM Configurations
PHP_FPM_POOL_NAME=www
PHP_FPM_PM_CONTROL=ondemand
PHP_FPM_PM_MAX_CHILDREN=50
PHP_FPM_PM_START_SERVERS=2
PHP_FPM_PM_MIN_SPARE_SERVERS=1
PHP_FPM_PM_MAX_SPARE_SERVERS=3
PHP_MEMORY_LIMIT=512M
PHP_MAX_EXECUTION_TIME=30
PHP_UPLOAD_MAX_FILE_SIZE=100M
PHP_POST_MAX_SIZE=100M

# Laravel Configurations
AUTORUN_ENABLED=false
AUTORUN_DEBUG=false
AUTORUN_LARAVEL_CONFIG_CACHE=true
AUTORUN_LARAVEL_EVENT_CACHE=true
AUTORUN_LARAVEL_MIGRATION=true
AUTORUN_LARAVEL_MIGRATION_DATABASE=
AUTORUN_LARAVEL_MIGRATION_FORCE=true
AUTORUN_LARAVEL_MIGRATION_ISOLATION=false
AUTORUN_LARAVEL_MIGRATION_MODE=default
AUTORUN_LARAVEL_MIGRATION_SEED=false
AUTORUN_LARAVEL_MIGRATION_SKIP_DB_CHECK=false
AUTORUN_LARAVEL_MIGRATION_TIMEOUT=30
AUTORUN_LARAVEL_OPTIMIZE=true
AUTORUN_LARAVEL_ROUTE_CACHE=true
AUTORUN_LARAVEL_STORAGE_LINK=true
AUTORUN_LARAVEL_VIEW_CACHE=true
